#main-carousel {
  padding-top:66px;
}
.home-about {
	color: #777777;
	line-height: 25px;
	margin-bottom: 50px;
}
h2.subTitle {
   font-size: 18px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}