/*regions.html*/

.city-list {
    padding: 120px 0;
    background-color: #fff;
}
.city-list h2 {
	color: #454545;
    font-size: 20px;
}
.city-list p {
	color: #a2a1a1;
    font-size: 12px;
}
.bg-city-tab {
	background-color: #f8f8f8;
	padding: 16px 10px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;

}
.full-btn {
	border: 0;
	border-radius: 0;
	font-size: 20px;
}
.full-btn:hover {
    color: #fff;
    text-shadow: none;
    background: #0484cd;
}

.prize-style {
	margin-right: 15px;
	border-right: 1px solid #c5c5c5;
}

.full-width {
	width: 100%;
}


/*regions.html*/

#cityImgs img {
	border: 1px solid #fff;
}

/*apply_form.html*/



/*about*/
.regions-list ul {
	list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.regions-list ul li {
	list-style: none;
    line-height: 35px;
    color: #333;
}

.regions-list ul li a {
	color: #00a3d9;
	font-size: 18px;
	padding-right: 20px;
}
.regions-list ul li a:hover {
	color: #046b9b;
	text-decoration: underline;
}

.regions-img img:hover {
	opacity: 0.7;
	cursor:pointer;
}

.order-list-icon {
	color: #00a3d9;
	font-size: 80px;
	line-height: 80px;
	right:0;

}

.guidelines h3 {
	letter-spacing: 2px;
	color: #00a3d9;
	font-size: 24px;
    line-height: 24px;
    font-style: normal;
    padding: 0;
    margin-bottom: 17px;
}

.about-item .iconBig {
	font-size: 50px;
}

/* news.html && videos.html */
.news-title{
  border-bottom: 2px solid #00a3d9;
  margin-bottom: 10px;
}
.news-btn{
  border: 0;
  border-radius: 0;
  font-size: 20px;
  padding: 10px 25px;
}
.news-btn.news-hidden{
  background-color: #fff;
  color: #444444;
}
.news-list{
  padding: 36px 0;
}
.news-info{
  padding: 0 50px 0px 20px;
}
.news-info h2{
  color: #444444;
}
.news-info>p{
  color: #888;
  margin-bottom: 30px;
}
.news-gray{
  color: #d2d6db;
}
.news-dotted{
  border-bottom: 1px dotted #6c6c6c;
}
.news-page ul{
  padding: 0;
}
.news-page ul li{
  list-style: none;
  display: inline-block;
  border: 1px solid #f3f3f3;
  background-color: #fafafa;
  margin-right: 8px;
  padding: 6px 14px;
  cursor: pointer;
}
.news-page li a{
  color: #666;
}
.news-page .page-active{
  background-color: #00b8f1;
}
.news-page li.page-active a{
  color: #fff;
}

/*news detail page*/
.news-detail-title {
  font-size: 24px;
  color: #343434;
}
.news-detail-date {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.news-detail-date span {
  color: #00a3d9;
}
.news-detail-subtitle {
  color: #343434;
  margin-top: 20px;
  margin-top: 30px;
}
.news-aside-box {
    background-color: #fafafa;
    border: 1px solid #f3f3f3;
}
.news-aside-title {
	font-size: 22px;
	letter-spacing: 2px;
}
.separator-left {
    display: block;
    background-color: #00a3d9;
    width: 40px;
    height: 3px;
    margin: 15px 0 40px;
    position: relative;
}
.news-aside-body {
    padding: 20px 15px 15px;
}

.news-aside-body p {
	text-indent:0;
	color: #666;
}

.news-aside-body h3 a {
	color: #343434;
	font-size: 16px;
	font-weight: 300;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.news-aside-body h3 a:hover {
	color: #00a3d9;
}

.news-aside-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.news-aside-list li {
    padding: 10px 0;
    padding-left: 1.5em;
    text-indent: -1em;
    border-bottom: 1px solid #ebebeb;
}
.news-aside-list li::before {
    content: "• ";
    padding-right: 5px;
    color: #00a3d9;
    font-size: 18px;
}
.news-aside-list li a {
    color: #343434;
    font-size: 16px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.news-aside-list li a:hover {
    color: #00a3d9;
    text-decoration: underline;
}

/* apply.html */
.apply-row{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 5%;
  padding-bottom: 30px;
  border-bottom: 1px solid #f0eeee;
  margin-bottom: 20px;
}
.apply-step:hover{
  text-decoration: none;
}
.apply-step h3{
  margin-top: 10px;
}
.apply-arrow{
  font-size: 48px;
  color: #929292;
}
.apply-item{
  display: block;
  font-size: 16px;
  color: #666666;
  padding: 12px 15px;
  font-weight: bold;
  margin: 0;
}
.apply-item:hover{
  text-decoration: none;
}
.apply-item.active{
  color: #00a3d9;
  border: 1px solid #f3f3f3;
  background-color: #fafafa;
}
@media(min-width:768px) {
  .apply-form{
    padding-left: 40px;
  }
}
.apply-form h1{
  font-size: 38px;
  color: #484a4a;
}
.apply-form>p{
  color: #6f6f6f;
  margin-bottom: 30px;
}
.apply-form .control-label{
  text-align: left;
}
.apply-btn{
  margin: 20px 0;
  padding: 10px 55px;
  border-radius: 0;
}
