
/* home page */
.store-cart-nav {
    font-size: 20px;
    color: #00a3d9;
}
.store-cart-nav span {
    font-size: 14px;
    font-family: sans-serif;
}
#storeImgs .item {
	margin: 10px;
}
.store-title {
	color: #494949;
	font-size: 30px;
	letter-spacing: 2px;
}

.store-btn-search {
	z-index: 2;
    margin-left: -5px;
    bottom: 3px;
    padding: 5px 12px;
}
.listing-item {
    margin: 0 0 20px 0;
    border: 1px solid #f1f1f1;
    position: relative;
    overflow: hidden;
}
.listing-item img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.listing-item-body {
    padding: 20px 15px 15px;
    -webkit-transition: ease-in-out all 0.25s;
    -o-transition: ease-in-out all 0.25s;
    transition: ease-in-out all 0.25s;
}

.listing-item h3 a{
    font-size: 18px;
    color: #666;
    line-height: 1.2;
}


.listing-item .add-item {
	color: #00a3d9;
	font-size: 14px;
}

.price {
    font-size: 22px;
    color: #494949;
    font-weight: 300;
}

.pr-10 {
    padding-right: 10px;
}
.fa-shopping-cart:before {
	border-left: 1px solid #dddddd;
	 padding-left: 10px;
	 height: 22px;
    content: "\f07a";
}
.elements-list > * {
    border-right: 1px solid #dddddd;
    margin: 5px 6px 5px 0;
    padding-right: 10px;
    line-height: 24px;
    height: 22px;
    display: inline-block;
}
.elements-list > *:last-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}


.modal-header .close {
    margin-top: -20px;
}
.add-to-car-modal {
    padding: 30px;
}
.add-to-car-modal i{
    color: #00a3d9;
    font-size: 70px;
}
/*shopping_car.html*/

.page-info-breadcrumb {
    padding: 6px 0;
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.06) inset;
    background-color: #fafafa;
    border-bottom: 1px solid #dadada;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    font-size: 12px;
    padding: 8px 0;
}

.store-cart-tab td {

    vertical-align: middle !important;

}
.store-cart-tab img {
    width: 150px;
    border:1px solid #e6e6e6;
}
.store-cart-tab img:hover{
    opacity: 0.8;
}

.store-cart-tab  .store-cart-quantity {
    max-width: 100px;
}
.car-product-title {
    font-size: 16px;
}
.store-cart-operate {
    font-size: 13px;
}

.store-cart-amount {
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}
.store-cart-total {
    text-align: right;
}
.store-cart-total span {
    font-size: 18px;
    font-weight: bold;
    color: #00a3d9;
    display: block;
}

/* product */
.product-full{
  width: 100%;
  margin-bottom: 10px;
}
.product-full img{
  width: 100%;
  border: 1px solid #c4c4c4;
}
.product-slider{
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.product-slider .arrow{
  position: absolute;
  color: #dfdfdf;
  font-size: 32px;
  width: 10%;
  text-align: center;
  cursor: pointer;
}
.product-prev.arrow{
  top: 5px;
}
.product-next.arrow{
  top: 5px;
  right: -5px;
}
.product-small{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.small-slider{
  width: 100%;
}
.product-small img{
  cursor: pointer;
  display: block;
  width: 25%;
  float: left;
  padding: 5px;
}
.product-act{
  font-size: 16px;
  color: #666666;
}
.product-act span{
  margin-right: 20px;
}
.product-act span i{
  color: #00a3d9;
}
.product-info h3{
  color: #696969;
  padding: 10px 0;
}
.product-price{
  color: #e75457;
  background-color: #f3f3f3;
  padding: 5px 20px;
}
.product-num{
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.product-num .col-md-2 span{
  color: #b5b8b8;
}
.product-buy{
  border: none;
  background-color: #00a3d9;
  padding: 10px 30px;
  font-size: 22px;
  border-radius: 5px;
  color: #fff;
}
.product-title{
  border-bottom: 2px solid #00a3d9;
  margin-top: 20px;
}
.product-btn{
  border: 0;
  border-radius: 0;
  font-size: 18px;
  padding: 10px 30px;
}
.product-btn.product-hidden{
  background-color: #fff;
  color: #444444;
}
.product-related{
  border: 1px solid #eef1f1;
  margin-bottom: 10px;
}
.related-title{
  background-color: #00a3d9;
  color: #fff;
  padding: 15px;
}
.related-title h3, .related-title p{
  margin: 0;
  letter-spacing: 3px;
}
.related-title span{
  padding-top: 4px;
  padding-right: 10px;
}
.related-detail{
  padding:20px 20px;
}
.related-small{
  width: 25%;
  float: left;
  text-align: center;
  margin: 10px 0;
}
.related-small span{
  font-size: 12px;
  color: #4a4a4a;
}
.related-pro{
  padding: 20px;
}
.related-pro img{
  display: block;
  margin: 10px auto;
  max-width: 100%;
}
.related-video{
  margin-bottom: 10px;
}
.related-video img{
  max-width: 100%;
  display: block;
}
.related-video p{
  margin-top: 5px;
  color: #4a4a4a;
  letter-spacing: 0px; 
}
.related-video span{
  color: #c9c9c9;
}


/*  checkout pages */

.checkout .nav {
    margin-bottom: 20px;
    border-bottom: solid 1px #00a3d9;
}
.checkout .nav-pills>li>a {
    border-radius: 0;
}
.checkout .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #00a3d9;
}

.checkout .nav-justified {
    width: 100%;
    border-radius: 0;
}
.checkout .box {
    background: #fff;
    margin: 0 0 30px;
    border: solid 1px #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    border-left: none;
    border-right: none;
}
.checkout .box .box-header {
    background: #f7f7f7;
    margin: -20px -20px 20px;
    padding: 20px;
    border-bottom: solid 1px #eeeeee;
}
.checkout .box-gray {
    background-color: #F0F0F0;
    margin: 10px 1px;
    padding-top: 8px;
    border: solid 1px #eeeeee;
}
.checkout .box-gray h1 {
    font-size: 16px;
    color: #000;
}
.checkout .box-gray-content {
    background: #fff;
    padding: 15px;
}
.checkout .checkout-gray-btn {
    
    font-weight: bold;
    font-size: 12px;
    padding: 3px 20px;
    border-radius: 5px;
    border: 1px solid #CCC!important;
    background-color: #f9f7f8;
    letter-spacing: 3px;
}
.checkout .store-cart-tab img {
    width: 100px;
}
.checkout .box .box-footer {
    background: #f7f7f7;
    margin: 30px -20px -20px;
    padding: 20px;
    border-top: solid 1px #eeeeee;
    height: 100px;
}
