.user-wrap{
  position: relative;
  min-height: 680px;
}
.user-menu{
  width: 240px;
  background-color: #fafafa;
  position: absolute;
  top: 0;
  left: 15px;
  padding-bottom: 30px;
}
.user-table{
  margin-left: 290px;
  overflow-x: scroll;
}
.useravatar{
  width: 116px;
  height: 116px;
  border-radius: 50%;
  display: block;
  margin: 18px auto 10px auto;
  border: 5px solid #d9dde1;
}
.username{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
}
.usersetting{
  width: 200px;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.usersetting>div{
  float: left;
  width: 50%;
}
.usersetting i{
  margin-right: 8px;
  color: #999a9c;
}
.usersetting span{
  color: #00a3d9;
  cursor: pointer;
}
.user-list{
  color: #000;
  padding: 15px 20px;
  padding-left: 50px;
  letter-spacing: 1.4px;
  font-size: 16px;
}
.user-list:hover,.user-list.active{
  background-color: #00a3d9;
  color: #fff;
}

.user-table .login-info{
  height: 40px;
  background-color: #f2f2f2;
  line-height: 40px;
  padding-right: 20px;
  color: #7e7e7e;
}
.user-table .title{
  margin: 15px 0;
  color: #00a3d9;
  text-align: left;
  font-size: 28px;
}
.user-table .table td,th{
  height: 60px;
  font-size: 16px;
  vertical-align: middle !important;
}
.user-table .table>tbody td{
  margin-top: 5px;
  border-top: none !important;
}
.user-table .table>tbody>tr:nth-child(odd){
  background-color: #fcfcfc;
}
.user-table .table .col-xs-5{
  padding-left: 40px;
}
